[2021-02-25 12:49] reslear opened #1 "feature request: option to log server adrress link"
like: http://localhost:3000/

[2021-02-25 12:50] reslear commented on #1
[code]

[2021-02-25 13:07] reslear commented on #1
or add hook before launching

[2021-02-25 15:41] axe-me commented on #1
@reslear good suggestion, in fact, the configured port is printed in debug mode. I can move it to regular log.

btw, just curious how did you find this plugin, I just published it 1 day ago and not post it anywhere yet.

[2021-02-25 15:43] reslear commented on #1
Google -> vite express server -> npm -> GitHub

[2021-02-25 17:40] axe-me commented on #1
shipped in 0.0.6

[2021-02-25 17:40] #1 closed

[2021-04-14 00:57] yassinebridi opened #2 "emitDecoratorMetadata workaround"
First of all thank you for this wonderful package, the speed difference is insane.
It almost complied for me, until this error occured
[code]
I'm not sure if this is due to esbuild not supporting `emitDecoratorMetadata`.
This problem occurs exactly with this kind of code:
[code]
If i remove the `@Args() name: string` it works properly.
`@Args` is coming from `@nestjs/graphql`

[2021-04-14 12:40] axe-me commented on #2
Hi @yassinebridi , to use this with nestjs you have to set the `server` type in the plugin config:
[code]

under the hood for nest, this plugin is using `swc` to transpile ts file in order to support `emitDecoratorMetadata`

please try that and let me know if it works.

Cheers.

[2021-04-14 12:50] yassinebridi commented on #2
@axe-me That's what i did with the ts transplier set to `esbuild`.
While the `swc` option get exited with a `SIGKILL`

[2021-04-14 13:01] axe-me commented on #2
@yassinebridi can you please provide the error log? Esbuild won't work for nest.

[2021-04-14 14:21] yassinebridi commented on #2
The error log isn't really helpful, i get this:
[code]
This is my `vite.config.js` file:
[code]
And this is my `main.ts` file:
[code]

And this is my `packages.json` file:
[code]

[2021-04-16 16:32] yassinebridi commented on #2
@axe-me While using yarn doesn't throw any descriptive errors, using npm gives this:
[code]
I'm not sure if something needs to be compiled for each CPU architecture.

This is my `cat /proc/cpuinfo`
[code]

Can you check if this package is working on another CPU architecture.

[2021-04-16 17:18] axe-me commented on #2
Without see a reproduce I cant really tell what's the issue is. However, since you are using graphQL, I guess it could be related to the circular dependency problem in Vite. see : https://github.com/vitejs/vite/issues/2491 and https://github.com/vitejs/vite/issues/2258

until that gets resolved, I cant do much in the plugin.

[2021-04-16 20:07] yassinebridi commented on #2
No my last comment was about a completely new NestJS project, just go scaffolded with the Nest CLI, no GraphQL.
That's why i didn't make a reproducible repo.

From what i can deduct from searching for that error, it seems that a package used in `vite-plugin-node`, or `vite-plugin-node` itself, doesn't work with my CPU architecture, that's why i suggested you test on a new CPU arch, or have someone

[2021-04-16 20:20] axe-me commented on #2
Interesting...
the main dependency of this project are vite and swc, can you try if swc it alone runs on your computer:
`npx swc [some ts file]`

[2021-04-16 22:48] yassinebridi commented on #2
Yep you are right, it's swc's issues.
I will make an issue there instead.

[2021-04-16 22:48] #2 closed

[2021-04-16 23:05] Tnifey commented on #2
@yassinebridi  Is that code run with `nest start` without `vite` and without error? Is `swc` compiles your code without error?

What kind of args, are you referring to in this code?
[code]

Is it working with
[code]
? If not, what error it throws?

Isn't that `@Args` [decorator](https://docs.nestjs.com/graphql/resolvers#graphql-argument-decorators) should get name of argument or typescript metadat

[2021-04-16 23:07] Tnifey commented on #2
Yeah, I should have check if it's closed already before posting questions.

[2021-04-16 23:13] yassinebridi commented on #2
I opened an issue in swc's repo, i really hope there is a quick fix for this issue, because i can't wait to use this package too, the speed difference in insanely huge.

[2021-06-02 08:04] delaneyj opened #3 "Fastify Support?"
Would the 'nest' mode work for direct fastify support?

[2021-06-02 08:46] delaneyj commented on #3
This seems to work.  By default in Fastify 3 it doesn't support connect style middleware.

[code]

[2021-06-02 08:55] delaneyj opened #4 "Vite build support?"
Would be great, especially for Docker deployment, to be able to do something like `vite build` where it uses rollup to deliver a tree shaken version of your node server to reduce build size and runtime ts compilation.  While the runtime compiling is fast its also adding extra watcher and stuff that shouldn't be on in production.

[2021-08-10 03:19] erossdev commented on #3
I'm working on this as well. I got the below to work at least for the basics....still have to do more digging into it but this could be fantastic to use vite

[code]

[2021-08-11 17:57] axe-me commented on #3
Hi @delaneyj @erossdev, thanks for your interest to use this plugin. I recently rewrote how this plugin works to make it faster by not restarting the server on file update. If you care to know more detail, see https://github.com/axe-me/vite-plugin-node#how

While I was rewriting it, I tried to add fastify support. Unfortunately, due to I never used it and didn't find a way how can I by pass a node

[2021-08-11 17:58] axe-me commented on #4
This is a good idea, I will find time to figure this out.

[2021-08-11 21:12] #3 closed

[2021-08-12 02:27] erossdev commented on #3
So far so good! Works great, super fast and reloading seems to work too. Thanks I really appreciate it!

[2021-08-16 08:16] RinatValiullov opened #5 "Tiny typos in vite.config.ts snippet"
Tiny typos

- Missing closing parenthesis `)`
https://github.com/axe-me/vite-plugin-node/blob/89392208aaddb3649bc8a53606a58aef43fdacb6/README.md#L47

- Mmissing comma `,`
https://github.com/axe-me/vite-plugin-node/blob/89392208aaddb3649bc8a53606a58aef43fdacb6/README.md#L38

[2021-08-16 15:58] axe-me commented on #5
ah, thanks for letting me know this. code in markdown is hard, lol

[2021-08-16 16:01] axe-me commented on #5
fixed

[2021-08-16 16:01] #5 closed

[2021-08-23 02:25] beetaa opened #7 "can this be mixed into a vite app as api mock server?"
It seems that the plugin is aimed to backend app development. how about and how to mixed it into a vite app as api mock server? It will perfect for someone who want to rule the frontend and backend at the same time.

[2021-08-24 14:15] axe-me commented on #7
Hi @beetaa, you may not need this plugin to implement an API mock server. Vite itself already supports the user to add custom middleware to the dev server. You could just use that feature to write a simple plugin to put in your mock data, for example:
[code]

But if you really want to use this plugin to implement your mock server, I don't see a blocker for doing that.

Happy coding!

[2021-08-25 05:57] axe-me commented on #7
closing this. If you still got questions about this plugin feel free to ask me.

[2021-08-25 05:57] #7 closed

[2021-08-26 09:34] productdevbook opened #8 "nestjs Error when evaluating SSR module"
12:32:41 PM [vite] Error when evaluating SSR module /src/app.module.ts:
Error: Failed to resolve import "src/guards/gql-auth.guard" from "src/auth/auth.module.ts". Does the file exist?
    at formatError (/s/node_modules/vite/dist/node/chunks/dep-972722fa.js:51153:46)
    at TransformContext.error (/s/node_modules/vite/dist/node/chunks/dep-972722fa.js:51149:19)
    at normalizeUrl (/s/node_modules

[2021-08-26 12:42] cusxio opened #9 "`import.meta.url` returns relative path"
https://nodejs.org/api/esm.html#esm_import_meta_url

In the docs, it says that `import.meta.url` returns an `absolute` url, but when I tried it with the example in the `examples` folder, `import.meta.url` returns a relative path.

I'm trying to replicate [__dirname](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c#what-do-i-use-instead-of-__dirname-and-__filename).

Reproducti

[2021-08-28 01:10] cusxio commented on #9
So it seems that vite `import.meta.url` returns a different result from Node's.

In normal Node, `import.meta.url` returns `file:///Users/x/Documents/test.ts`.

In vite it returns `./Users/x/Documents/test.ts`.

This is definitely a gotcha with vite.

Thanks for the response once again!

[2021-08-28 01:10] #9 closed

[2021-08-28 03:55] pranaypratyush commented on #4
Kinda assumed it was already in place. Now eagerly waiting for it as a small project reaches production.

[2021-08-31 12:09] productfrontenddeveloper commented on #8
I can ship in 2-3 weeks. I don't know how to break this into little pieces.

[2021-08-31 14:34] unlight opened #11 "Local .swcrc with module section cause Error when evaluating SSR module ./src/main.ts"
Local .swcrc with module section cause:
`Error when evaluating SSR module ./src/main.ts`

Looks like vite-plugin-node does not like when 'module' section exists in `.swcrc`, when I removed it
everything started working, before that I got:
[code]

[2021-09-02 13:19] productfrontenddeveloper commented on #8
import { GqlAuthGuard } from 'src/guards/gql-auth.guard'; -> import { GqlAuthGuard } from '../../guards/gql-auth.guard'; and fixed why src problem ?

[2021-09-02 14:17] productfrontenddeveloper commented on #8
new problem

[code]

[2021-09-03 22:09] unlight commented on #8
#11 Looks like related

[2021-09-04 09:22] kewp opened #12 "require is not defined - should I start with es6?"
This was mentioned elsewhere.

Trying to use body-parser but getting an error.

[code]

I want to wrap my head around something: vite uses es6 but express does not? So how does this plugin get around that? Am I suppose to be using express through es6 (I assume through babel) and only then use `vite-plugin-node`?

Thank you

[2021-09-05 12:44] HexaField opened #13 "__dirname is not defined"
Using express as the instructions say, getting this error. I imagine this is due to a similar cause as https://github.com/axe-me/vite-plugin-node/issues/12

[2021-09-05 23:11] jgod opened #14 "Request for example working with Docker/docker-compose"
Have vite starting locally using the express example, but running into an error when doing it inside the container:
[code]

[2021-09-06 17:34] axe-me commented on #12
yea vite itself doesn't support `require` it can only use `import` aka ESM
if you are writing plain js code, you will need declare `type: "module"` in package.json
if you working with TS, you don't need to do any extra thing, vite support TS out of box.

[2021-09-06 17:34] #12 closed

[2021-09-06 17:40] axe-me commented on #14
seems like it related to https://github.com/vitejs/vite/issues/4116
I will take a look on vite side. Thanks for reporting this

[2021-09-06 17:44] axe-me commented on #11
Hi @unlight I just came back from vacation, can you paste your swcrc here, I will try to reproduce this issue

[2021-09-06 17:45] axe-me commented on #13
duplicated, see https://github.com/axe-me/vite-plugin-node/issues/9

[2021-09-06 17:45] #13 closed

[2021-09-06 17:47] axe-me commented on #8
do you have any `require`s in your `app.module.ts` ?
vite not support commonjs style requires, try use `import`

[2021-09-06 17:50] unlight commented on #11
[code]

[2021-09-06 18:02] axe-me commented on #14
actually, can you take a look at this issue, https://github.com/vitejs/vite/issues/2671
see if you can find a solution there

[2021-09-06 18:05] productfrontenddeveloper commented on #8
yes fixed.  new problem

ReferenceError:: __dirname is not defined
    at typeormModuleOptions (/src/config/database.config.ts:17:40)
    at InstanceWrapper.eval [as metatype] (/src/config/database.config.ts:30:17)

[code]

[2021-09-06 18:10] productfrontenddeveloper commented on #8
and delete new problem.

[code]

[2021-09-06 18:23] productfrontenddeveloper commented on #8
9:22:53 PM [vite] Error when evaluating SSR module /src/app.module.ts:
TypeError: Cannot read property 'KEY' of undefined

9:22:53 PM [vite] Error when evaluating SSR module ./src/main.ts:
TypeError: Cannot read property 'KEY' of undefined

[2021-09-06 18:27] axe-me commented on #11
ok I guess the reason is `type: "commonjs"`, since vite only support ESModule but not commonjs.

try remove that line

[2021-09-06 18:46] productfrontenddeveloper commented on #8
[code]

[2021-09-06 19:28] productfrontenddeveloper commented on #8
[Nest] 70663  - 09/06/2021, 10:26:38 PM     LOG [InstanceLoader] AwsSdkModule dependencies initialized +0ms
[Nest] 70663  - 09/06/2021, 10:26:38 PM     LOG [InstanceLoader] GraphQLSchemaBuilderModule dependencies initialized +0ms
[Nest] 70663  - 09/06/2021, 10:26:38 PM     LOG [InstanceLoader] RedisModule1 dependencies initialized +11ms
[Nest] 70663  - 09/06/2021, 10:26:38 PM     LOG [InstanceLoad

[2021-09-07 08:12] jcc1997 opened #15 "Can't access my .env file value in app.ts"
[code]
I can't get env by `process.env.MY_VALUE` in 'app.ts', but i can get it by `JSON.parse(JSON.stringify(process.env)).MY_VALUE`

I don't know if it's normal but I think at least it's wired.

[2021-09-07 17:35] axe-me commented on #15
for .env usage see  https://vitejs.dev/guide/env-and-mode.html#env-files

[2021-09-07 17:57] productfrontenddeveloper commented on #8
dir delete and new problem up

[code]

[2021-09-07 18:50] axe-me commented on #8
I'm afraid I need you to provide a repro for this User model issue.

[2021-09-19 12:30] percy507 opened #16 "`import.meta.url` returns relative path or wrong absolute path"
### Relative issues

- [import.meta.url returns relative path #9](https://github.com/axe-me/vite-plugin-node/issues/9)

### Problem Description

- Look at the picture below, when `console.log(import.meta.url)`
  - In normal nodejs, return as excepted
  - In vite root folder, return relative path.
  - In vite other folder, return `wrong absolute path`.

- I also test it on my vite-react project. It

[2021-09-20 00:34] percy507 opened #18 "Limitation to develop koa2 project"
Some limitation when I use this plugin to develop koa2 project.

- This plugin seems treat `koa2 project` as a `vite server middleware`. **It seems hard to run some init scripts before start app.**

[code]

- **I have no idea of how to debug my project with vscode.**

[2021-09-21 03:04] #16 closed

[2021-09-21 15:07] percy507 commented on #18
@axe-me Thanks. I will try.🙏

But here comes a new problem of using `typeorm`. How to `export app` when init app inside a `promise.then`? (
[typeorm with koa](https://github.com/typeorm/typescript-koa-example/blob/master/src/index.ts))
I try to use top-level-await, but it seems not work. 🌚

[2021-09-22 06:23] percy507 commented on #18
Find a way, run `init script` as a middleware, but only run once.

[code]

[2021-09-22 08:18] #18 closed

[2021-10-10 14:54] onekiloparsec opened #20 "Build for production?"
Hi. I've tried your plugin, as it seems my last chance of making my setup working. It seems really great, but I am not sure to understand how to use it for production.

I have a fairly sophisticated express.js-based backend, and I try to build into a custom folder `dist-prod` that I deploy to heroku. But I can't find how to run `vite build` and end up with the correct output.

As far as I understa

[2021-10-17 12:47] Wharley01 opened #21 "How to add typescript typecheck?"
Plugin working fine, but how do i let vite do type check ?

[2021-10-21 04:20] chanced opened #22 "Websockets don't seem to work, at least with Fastify"
Using the following code, I cannot establish websocket connections:
[code]

If I run the server directly, it works fine.

[2021-10-21 16:46] chanced commented on #22
@axe-me no problem. Thanks for publishing the package.

I'm just going to roll with esbuild for that package. It makes more sense anyway. I figured I'd let you know, regardless.

[2021-11-11 12:51] evcohen opened #23 "Node12 support"
hi! thanks for creating this plugin -- is there anything preventing setting the min engine for node to 12? it didn't seem like there was anything egregious. unfortunately, i don't have control over the node version we use in our environment.

thanks!
ethan

[2021-11-13 05:57] dhkatz commented on #22
Websockets don't seem to work with Express as well

[2021-11-17 00:42] evcohen commented on #23
ah yeah, but this package has it's engine set to:

[code]

my work env is on 12.18.2, so i can't install this (but i can install vite itself)

[2021-11-17 02:04] sidwebworks commented on #23
Ah my bad, i thought you wanted the minimum env to go below 12.

I think I could try running a fork on v12 if everything goes well I guess it should be fine to change the min env to >=12 right @axe-me ?

[2021-11-17 02:08] axe-me commented on #23
Thanks guys for reporting this. Let me remove the node version requirement.

The reason I had it in there was that m1 chip problem I had before. I guess that is not an issue for everyone.

[2021-11-17 15:42] evcohen commented on #23
thank you!

[2021-11-20 04:48] richard-viney opened #24 "NestJS + TypeORM support"
This plugin looks great and I've been trying to get it going on a NestJS app, but have run into an issue that I think is caused by the fact that TypeORM `require`s all the entities it's told about via its config, which gives the error.

`SyntaxError: Cannot use import statement outside a module`

on the first line of the `*.entity.ts` file.

Looks like this is the line in TypeORM that does the req

[2021-12-10 11:24] wangfengyuan opened #25 "how to extra config to app"
[code]

after that, my extra config about app did not work,i want to know how to organize my code

[2021-12-15 15:43] N0tExisting commented on #4
You could probably use a [SSR build](https://vitejs.dev/guide/ssr.html#building-for-production) for that!

@maninak For Source maps you need to set [`build.sourcemap`](https://vitejs.dev/config/#build-sourcemap) to `true`

[2022-01-10 09:04] radiorz commented on #20
if possible, I wish the vite could build nodejs like webpack do.
here is an example with webpack4:
[code]

[2022-01-30 07:21] taka1156 commented on #20
[code]

[2022-02-10 11:30] axe-me commented on #20
I just released 0.0.17 to npm, please check it out.

Thanks @taka1156 for providing this solution. I added this ssr config to the plugin default, the plugin will just use the `appPath` as entry to build/bundle the app.

simply add a build script to your package.json, it should just work!

[2022-02-10 11:30] #20 closed

[2022-02-10 11:33] axe-me commented on #4
This should work with the new 0.0.17 release!

dup #20

[2022-02-10 11:33] #4 closed

[2022-02-10 11:42] axe-me commented on #25
hi @wangfengyuan sorry for late reply. To achieve this, I prob should add in some sorta hook to the plugin.

For now you could create a customize adapter to put in your configs:
[code]

let me know if this works for you

[2022-02-10 11:44] #15 closed

[2022-02-10 11:45] #11 closed

[2022-02-10 11:45] #14 closed

[2022-02-10 11:46] #25 closed

[2022-02-11 17:19] yusufkandemir commented on #25
IMO, this is approach is more understandable and cleaner:

[code]

I think updating the documentation with some examples would be a simpler solution compared to providing extra hooks. It would also be more flexible and can help keep the maintenance costs lower.

[2022-02-17 01:06] radiorz commented on #20
Hello, when I dont put the build/ssr option, the plugin will pass appPath to build/ssr.
but when there is a root option in vite,it will be a mistake:
![image](https://user-images.githubusercontent.com/24271959/154384454-f27b8c14-045a-46f7-ac5f-b013d1296826.png)

[2022-02-17 12:17] shaif-dorIT commented on #22
I think it work in production at least for me, I used express.js and socket.io for example (I took the base code from YT called The net ninja repo link: https://github.com/iamshaunjp/websockets-playlist).

what I did is:

1. created websocket.ts that export function addWebSocketHandler:
[code]
2. imported it on app.ts:
[code]
3. then added it to production if case:
[code]

As for ViteDevServer,
I

[2022-02-17 13:19] taka1156 commented on #20
@radiorz

[code]

https://github.com/taka1156/vite-express-sample/tree/update-vite-plugin-node

[2022-02-17 14:40] taka1156 commented on #20
@radiorz

[code]

[2022-02-17 16:17] oliverabclabs opened #28 "Configuring this package in a NestJS Monorepo"
I am running a NestJS monorepo using Nest CLI. I have multiple nest apps in this monorepo, and a shared library at the top level. I am unsure how to configure this package for such a setup.

1. Do I put a `vite.config.ts` in each app?
2. Can I run the apps with vite using Nest CLI? e.g `nest start app1`
3. How do I get a shared lib to work?

An example of using nestJS monorepo would be very much a

[2022-02-18 00:55] radiorz commented on #20
thanks, this is a way to solve different path.

[2022-02-18 03:46] saiqulhaq commented on #20
I think we need to update the README
there is a statement on TODO section that this tool doesn't have build command for docker

[2022-02-19 00:22] wight554 opened #29 "(proposal): consider using unplugin-swc"
It's easy to setup and has nice configuration parser
https://www.npmjs.com/package/unplugin-swc

[2022-02-19 14:12] taka1156 commented on #20
[code]

https://vitejs.dev/guide/api-plugin.html#vite-specific-hooks

[2022-02-21 14:09] alexkharech opened #30 "Any NestJS + Fastify example please"

[2022-02-24 19:58] axe-me commented on #29
it looks good, I will replace the builtin one with this .

[2022-02-26 18:25] jordanranson commented on #22
The WS library also doesn't work. For now I've been using the below work around which uses nodemon to build and run the app on file change. This is obviously not ideal because I lose out on HMR, and have to run the app in production mode locally, but its better than having to manually restart Vite everytime I make a change.

Here is the work around, replace your `npm run dev` with the following co

[2022-03-07 13:13] Tchoupinax opened #31 "Runtime log are not displayed by vite"
Hello!

I am testing your plugin and I want to have a watch server that restart for each modification. For doing this, I use `nodemon`.

[code]

The watch mode seems to work correctly but my console is filled by vite.

[code]

Could you know how to display logs or simple `console.log` ?

Thank you :)

[2022-03-12 14:56] skogs-pa opened #33 "Running vite: Cannot modify fastify route without crashing."
[code]
Running "vite" as my pnpm dev command.  Seems like fastify has issues with SSR.  My old command "nodemon" works fine since it reloads the whole server from scratch.

[2022-03-14 15:32] axe-me commented on #31
console.log works fine for me.

and I dont think you need use nodemon with vite, the main purpose of this plugin is doing HMR which replace the server restart.

[2022-03-14 16:06] Tchoupinax commented on #31
Hello,

I tested and you got right. It is not very natural because I have the habit to see the server restarting on each file save >.<
I do know if it exists an option to tell that the changes has been taken

Thank for your job, it works fine!

[2022-03-14 16:06] #31 closed

[2022-03-15 18:27] JiPaix opened #34 "[0.0.18] Cannot find module '@swc/core'"
This is the output when running `vite dev`.
Builds work fine

downgrading to `0.0.17` fixes the issue

[code]

[2022-03-15 18:31] JiPaix commented on #34
didn't see the updated doc, sorry.

[2022-03-15 18:31] #34 closed

[2022-03-16 17:01] subodhpareek18 opened #35 "Use vite-node along with react plugin"
Apologies if this is a noob level question. I'm new to both vite and vite-node. I want to build an app with both a backend and a front end. As I understand vite enables you to do the front end part easily but without the backend hmr which this plugin is built for.

However I haven't figured out how to combine both. I've gone through the examples here but couldn't find what I was looking for.

Any

[2022-03-19 20:28] JiPaix opened #36 "peerDependency @swc/core isn't optional"
[code]

[code]

could you temporarily fix it by changing this line until it's fixed?
https://github.com/axe-me/vite-plugin-node/blob/809f465ae191377158c8f72f55e7bcbc9a03cf7a/package.json#L44

[2022-03-20 12:53] Falci commented on #35
I have the problem.

`index.html` is not generated when using both `plugins: [react(), ...VitePluginNode()]`

[2022-03-20 18:31] a-ski opened #37 "Error when evaluating SSR module (mongoose dependency)"
### Reproduction steps

1. git clone https://github.com/a-ski/vite-node.git
2. yarn install
3. yarn dev
4. curl localhost:3000

### Error

Error: Cannot find module 'mongodb-extjson' imported from 'MY_FS_PATH\vite-node\node_modules\mongodb\lib\core\utils.js'
    at viteResolve (MY_FS_PATH\vite-node\node_modules\vite\dist\node\chunks\dep-9c153816.js:56216:25)
    at Function.<anonymous> (MY_FS_PATH

[2022-03-23 23:50] Floppy012 opened #38 "NestJS: vite command not working"
Running `vite` with NestJS fails with the following error (`build` is working):

[code]

[2022-03-27 15:21] GauBen commented on #28
Hey there, I created a complex monorepo that uses this plugin, nest, and a lot more: https://git.inpt.fr/inp-net/bonfire/

It's not yet documented, but you'll probably find what you need

[2022-03-27 15:22] GauBen commented on #38
Hey there, you'll need to add theses lines in `vite.config.js`:

[code]

[2022-03-28 10:24] datyin commented on #22
Any news on this issue?

[2022-03-28 13:35] lucas-jones opened #39 "Using with standard node server?"
Is there a way to use this with without one of the adapters. I have just a standard NodeJS that doesn't use any framework (It just runs a WebSocket server)

[2022-04-18 16:58] zzyyxxww opened #40 "Repo example for express cannot find module '@swc/core'"
From `examples/express` I had to first delete `yarn.lock` because I got this output:
[code]

After deleting `yarn.lock` and running `yarn` I got:

[code]

If I add `@swc/core`, it does work.

[2022-04-18 18:52] JiPaix commented on #40
duplicate of #36

[2022-04-19 18:45] #40 closed

[2022-04-20 10:17] vladimirgal1012 commented on #24
Any updates on this ? Trying to get thinks working with this plugin + TypeORM

[2022-04-21 14:06] x7airworker opened #41 "Express: SSE not working"
Using the following code, the connection can be opened, but no data gets sended:
[code]
With `res.end()` I am able to close to connection and send all messages at once.
This issue could also be related to #22.

[2022-04-22 08:37] #41 closed

[2022-04-22 15:05] sebastian0x62 opened #42 "Multiple entry points"
Any chance to build multiple node applications within one repository? With WebPack I had serveral entrypoints for my command scripts.

[2022-04-23 02:32] richard-viney commented on #24
No updates from my side, I haven’t looked into this further since my last post. TypeORM 0.3 was released recently which might affect things here in some way.

[2022-04-23 21:07] vinicius73 commented on #39
Some here, I want to use it in a background worker project.

[2022-04-29 22:51] RDIL commented on #36
Well but it is optional... for instance if you don't use it, you shouldn't have to install it.

[2022-05-05 08:45] skimhugo opened #44 "how to pass node flag to node?"
how to pass node flag to node?

[2022-05-06 02:08] axe-me commented on #44
what kinda flag do you want to pass? can you provide an example ?

[2022-05-06 04:15] skimhugo commented on #44
--experimental-fetch

[2022-05-10 06:45] angelhdzmultimedia opened #45 "[ERROR] Error That Doesn't Affect Compilation"
After running ` npm run dev` which runs `vite`, I'm receiving an error that doesn't affect compilation, but I would like to get rid of it.

![image](https://user-images.githubusercontent.com/10191085/167564050-eb170d4a-5b02-4d73-8ffb-b5e8be46a563.png)

After the error, everything runs perfectly:

![image](https://user-images.githubusercontent.com/10191085/167564169-561333fb-30b1-42cd-8777-4679748b

[2022-05-10 06:49] angelhdzmultimedia commented on #45
### Update

Before the error with the red text, I get the following error:

[code]

[2022-05-10 06:52] angelhdzmultimedia commented on #45
### Solved
https://github.com/axe-me/vite-plugin-node/issues/38

[2022-05-10 06:52] #45 closed

[2022-05-10 06:52] angelhdzmultimedia commented on #38
This solved my error, thanks!

[2022-05-11 03:42] axe-me commented on #38
yea this is a limitation of vitejs atm, hopefully it get improved in upcoming vite 3
https://github.com/vitejs/vite/issues/6007

[2022-05-11 03:42] #38 closed

[2022-05-11 07:23] axe-me commented on #8
close for now due to inactive.

[2022-05-11 07:23] #8 closed

[2022-05-11 08:25] axe-me commented on #44
you can use env var to pass node options,
`NODE_OPTIONS='--experimental-fetch' vite`
see https://github.com/axe-me/vite-plugin-node/blob/main/examples/express/package.json#L8

[2022-05-11 08:25] axe-me commented on #36
fixed in `1.0.0` by lazy loading the module

[2022-05-11 08:25] #36 closed

[2022-05-11 08:26] axe-me commented on #39
ofc, i just made an example, see https://github.com/axe-me/vite-plugin-node/blob/main/examples/node/app.ts

[2022-05-11 08:26] #39 closed

[2022-05-11 08:30] axe-me commented on #42
you have multiple node servers that you want to run at the same time ?

[2022-05-11 08:31] axe-me commented on #28
@GauBen thanks for helping out.
@oliverabclabs can you try his solution?

closing this now, feel free to reopen this.

[2022-05-11 08:31] #28 closed

[2022-05-11 09:11] axe-me commented on #37
sry, after searching around on this issue, I don't see a good solution for this. I might need to dig deep into vite to see if I can find a workaround.

[2022-05-11 09:14] axe-me commented on #35
i think it's better to keep your frontend and backend separated. At your frontend vite config just proxy the `/api` to your backend URL.  See: https://vitejs.dev/config/#server-proxy

[2022-05-11 09:15] axe-me commented on #33
can you provide a repro?

I could create new route without any problem.

[2022-05-11 09:17] axe-me commented on #29
after looking into it, I don't see anything my own swc plugin is not capable to do than that one. I will keep it as is for now.

[2022-05-11 09:17] #29 closed

[2022-05-11 11:33] lucas-jones commented on #39
Sorry I mean non-http based applications?

[2022-05-11 12:04] skimhugo commented on #44
Thanks

[2022-05-12 21:37] #24 closed

[2022-05-12 22:36] axe-me commented on #42
if you just want to run some command, may be tools like vite-node is more suitable for you.
closing this for now, feel free to reopen if you still have questions.

[2022-05-12 22:36] #42 closed

[2022-05-13 09:11] ilterugur commented on #30
I need this too but I think it doesn't work with nest+fastify at this version as i see from NestHandler export.
@axe-me is there any quick fixes possible?

[2022-05-17 23:45] nitedani commented on #35
What if I don't want to use node just as an api backend, but as the ssr server too? Proxy can't solve that.

[2022-05-20 11:50] EdwardKerckhof opened #46 "swc tsCompiler does not seem to do anything"
Steps taken:
1. Create fresh nestjs application
2. Add @swc/core to dev dependencies
3. Create vite.config.ts
4. Update src/main.ts

Error:
![image](https://user-images.githubusercontent.com/47602885/169522395-ddda5104-e7e1-4774-a5ee-13db07fd0af3.png)

vite.config.ts
![image](https://user-images.githubusercontent.com/47602885/169522413-a799004c-1004-4b8e-b1eb-b62fbb773d4c.png)

src/main.ts
![image

[2022-05-20 12:18] #46 closed

[2022-05-20 12:18] EdwardKerckhof commented on #46
Does not give breaking issues.

[2022-05-23 08:13] noam-honig opened #47 "Using this as part of a full stack dev server"
Can I use this repo to run a full-stack dev server with vite?

I want to use this in conjunction with the react vite plugin and get it to server react from the root, and the express results from `/api`

Is there a way to config this to do that?

[2022-05-24 19:34] kasbah opened #48 "Errors with export in `browser-external:...`"
Repro: https://github.com/kasbah/vite-plugin-node-example

When I run:
[code]
I get

[code]

[2022-05-28 02:39] andersaamodt commented on #47
I think I might be having the same issue. When I add the config for vite-plugin-node, it compiles the server, but it stops compiling the client. Is there a way to have both in one project, or is the point of vite-plugin-node to have a project that ONLY acts as a server?

[2022-05-28 02:41] andersaamodt commented on #35
Is there a way to have both in one project with vite-plugin-node? Enabling vite-plugin-node config disables compiling the frontend for me.

[2022-05-28 17:37] cerino-ligutom commented on #48
Also getting this issue as well with `graphql-tools`

[code]

[2022-06-02 23:25] juliushuck opened #49 "Using top level await: Module format cjs does not support top-level await. Use the "es" or "system" output formats rather."
I want to use top level await in my server. When I do so, I get the following error message:

`Module format cjs does not support top-level await. Use the "es" or "system" output formats rather.`

So I tried `build: { target: "esnext" }`, but it didn't help.

I also tried

[code]

This works, but then the outputed file still contains imports for the dependency and did not bundle everything in one

[2022-06-03 19:49] juliushuck commented on #49
rollupOptions: { output: { format: "es" } } did the trick for me. I do not have to do this in my react vite config, just in my "node" vite config. Did I do something else wrong?

[2022-06-29 15:34] vic1707 opened #50 "NestApplication reloading after each GET request"
[this part is due to me forgetting `if (import.meta.env.PROD)` around the bootstrap function]
[to jump to the issue](https://github.com/axe-me/vite-plugin-node/issues/50#issuecomment-1170467784)

<img width="1578" alt="image" src="https://user-images.githubusercontent.com/28602203/176476298-01c52d9d-ae97-4f7c-8dfc-ad0d2bc3b15b.png">
As you can see I get all the init messages twice 🤔.

here is the

[2022-06-29 20:10] vic1707 commented on #50
also sometimes each time I get the base URL I get the log for `Nest application successfully started` 🤔
<img width="745" alt="image" src="https://user-images.githubusercontent.com/28602203/176535922-efed4df0-e5a2-41af-bb2e-1359b8e994c1.png">

[2022-06-29 20:34] vic1707 commented on #50
adding the `if (import.meta.env.PROD)` because I'm an idiot seems to fix the duplicate instance but doesn't fix the restart (?) of the app after each get
<img width="1334" alt="image" src="https://user-images.githubusercontent.com/28602203/176539506-28b4b7a7-0195-4b2a-96a9-2d887734435a.png">

[2022-06-30 00:06] yuchenshi commented on #47
I have the same use case as well and I've found the following workaround:

[code]

This essentially delegates all URLs starting with `/api/` to the Node.js app (e.g. express) and anything else to the vanilla HTML serving logic in Vite **during development**. The example above is for `express`, and you may need to change the adapter logic (in the `if`-branch) accordingly (see https://github.com/axe

[2022-06-30 00:13] yuchenshi opened #51 "Publish README.md to GitHub"
Right now, https://www.npmjs.com/package/vite-plugin-node is missing a README.md.

It will be nice if you could copy the `README.md` from project git root into `packages/vite-plugin-node` at prepublish and include it in [package.json `files`](https://github.com/axe-me/vite-plugin-node/blob/652bec7484b8a9122df3cd11cf10dd6152960607/packages/vite-plugin-node/package.json#L23).

[2022-07-01 12:38] sebastiangug commented on #46
@EdwardKerckhof  what was the solution for this? currently facing the same problem.

[2022-07-03 03:42] francipvb commented on #22
Hllo,

I think this is not too difficult to work on.

Just like the `viteNodeApp` export key, there can be added another export default key that receives the web server built by vite. Then the user code can be do anything with it.

Of course, the function should be called every time the HMR runs.

[2022-07-03 03:42] francipvb commented on #22
Not sure if it can be done, but here is my suggestion.

[2022-07-10 17:18] stevefan1999-personal opened #52 "Does not work with @nestjs/graphql"
Reproduction:
https://github.com/stevefan1999-personal/vite-plugin-node/tree/repo-graphql-failure/examples/nest

Log:
[code]

It seems like we have duplicated instances of User class that has different resolution each time

Probably related: #50

[2022-07-11 09:12] schummar opened #53 "import.meta.hot.dispose not working?"
It seems disposing of side effects does not work. If I have some background task running (job scheduler, db watcher, etc.) in my server, I usually gracefully clean it up on shutdown by listening for signals.

In order for this to work in HMR, my understanding is that I need to register a dispose callback in the file with the side effect. E.g.:

[code]

However, the callback is never called, so I'l

[2022-07-13 12:15] Archsx opened #54 "ReferenceError: fetch is not defined"
I've clone the repo, and cd example directory(express),and install packages, and `npm run dev`, when I try to entry `http://localhost:3699/ip`, I got error:

ReferenceError: fetch is not defined

[2022-07-17 04:20] romanzy-1612 commented on #48
As stated in the docs you need to put these into `defineConfig`
[code]

[2022-07-17 04:27] romanzy-1612 commented on #22
I have the same issue. In order for websockets to work the server needs to handle upgrade request, and since vite uses it for live reload, our own ws implementation does not work. I think vite recieves the upgrade event and it does not propograte to our code. It may be very hard to solve this issue, as rewriting vite's behavior is a no go.

Vite is an absolute blessing upon js and ts community, an

[2022-07-17 12:50] kasbah commented on #48
Thanks @romanzy-1612 I can confirm this fixes it! I would have never guessed this since I would never think of the internal node dependencies as "optional".

Since this plugin is focused on node I move to update the example vite.config.js in the readme with common node internal dependencies in `optimizeDeps {exclude: [...]}`at the very least.

Even better would be if this plugin could modify the `

[2022-07-17 12:53] kasbah commented on #54
Try running it with Node >= 18. Global `fetch` was introduced in Node 18.

[2022-07-18 03:43] angelhdzmultimedia opened #55 "[ERROR] HMR not working"
Followed the guide 100%. for Express.

Executed npm run dev.

Server started successfully.

Made a change in the code.

Browser content didn't change.

Hit F5 on browser to refresh the content.

`Error: listen EADDRINUSE: address already in use :::3000`

[2022-07-18 16:03] Archsx commented on #54
I've updated Node to v18.6 but still get the error, maybe the example is just provide some idea about how to use the plugin , not runnable

[2022-07-18 18:52] kasbah commented on #54
I think they should be runnable but I can't run the express example either (getting a different error).

Have you tried the `npm run dev-flag` script? That seems like it's trying to address the lack of `fetch`.

[2022-07-23 15:32] capaj opened #56 "allow to use with typescript(ttypescript) as a compiler"
I am having a usecase where I want to run vite using ttypescript. even SWC does not support the stuff I want to do with decorators.
You can see it for example in this repo:
https://github.com/capaj/startup-stage-checklist-api/tree/vitest-spec-config-wip

so it would be nice if we could specify `typescript` as a compiler as well.

[2022-07-29 09:18] stychu opened #57 "Vite-plugin-ssr support"
Hi, would love to have this working with https://vite-plugin-ssr.com/ from the first try I wasn't able to get it working all togeter :(
I wish. this functionality would be available for my development. Any suggestions ?

[2022-08-08 22:08] sebastiangug commented on #52
anyone had any luck on getting this working in any form/with any versions out there? I've been swapping them out like crazy and nothing seems to work.

[2022-08-08 22:39] sebastiangug opened #58 "with graphql + nestjs, vite seems to be adding to the schema on every request causing "Schema must contain uniquely named types" -- repository provided"
Related SO thread:  https://stackoverflow.com/questions/73284703

I've been trying to get this combination working for a while and fiddled with versions & compatibilities issue until I've hit this brick wall.

I've created a minium repository where the issue is reproducible: https://github.com/sebastiangug/nest-graphql-vite

The graphql configuration:
[code]

Versions:

[code]

on nodejs 16

Vite

[2022-08-09 15:19] shuuuuun opened #59 "Do you plan to support Vite 3.0?"
Vite 3.0 was released on 07/13/2022.
https://github.com/vitejs/vite/releases/tag/v3.0.0
https://vitejs.dev/blog/announcing-vite3.html

vite-plugin-node currently cannot be used with Vite 3.0 because `"vite":"^2.9.8"` is specified in peerDependencies.
https://github.com/axe-me/vite-plugin-node/blob/652bec7484b8a9122df3cd11cf10dd6152960607/packages/vite-plugin-node/package.json#L40

It would be grea

[2022-08-10 10:17] sebastiangug commented on #59
I pretty much installed vite 3 and ignored that warning, didn't seem to be a problem.

Sadly I don't think this package is maintained any longer, haven't seen anyone replying/fixing anything or posting any new versions, which is fair enough.

Might give it a go at forking it and fixing some of the issues as I'd like to be able to use this with nestjs & graphql.

[2022-08-18 15:01] guillaumecatel commented on #55
The HMR must want to rerun the listen function.
Did you enclose `app.listen(port)` like this?

[code]

[2022-08-18 20:45] angelhdzmultimedia commented on #55
Yes.
![image](https://user-images.githubusercontent.com/10191085/185491368-220106ea-9740-4bab-ae86-e03c16baea38.png)

[2022-08-18 20:53] angelhdzmultimedia commented on #55
The error when hitting F5 on the browser seems to have gone away.
I can refresh the browser, and get the updated content, but still HMR doesn't do that automatically as it should.

[2022-08-18 20:58] angelhdzmultimedia commented on #55
https://user-images.githubusercontent.com/10191085/185493552-da652d05-de6d-4a26-84ad-eb41ab5864a3.mp4

[2022-08-24 13:48] vova-white commented on #59
`Might give it a go at forking it and fixing some of the issues as I'd like to be able to use this with nestjs & graphql.`
@sebastiangug I made a small [starter for nestjs(fastify)](https://github.com/vova-white/nest-fastify-graphql-vite) with vite and graphql. If you haven't solved your problem yet, maybe this will help you.

[2022-09-15 17:01] jaybe78 commented on #59
@sebastiangug  @vova-white  @shuuuuun what about https://www.npmjs.com/package/vite-node ?
Has anyone used it ?

[2022-09-23 16:58] MarioJuniorPro commented on #50
[code]

[2022-09-26 16:55] patrickjm commented on #52
I got this to work importing from a package with "type": "module" and using yarn v3 / berry:

Create this patch file:

[code]

Then in your package json, add this resolutions block:

[code]

If you are using a monorepo, this has to be at the top level package.json regardless of where you are importing reflect-metadata.

[2022-10-07 08:52] Shyam-Chen commented on #22
`nodemon` + `vite-node`

[code]

[2022-10-14 04:52] jaequery opened #60 "Is it possible to pass your own CLI commands to boot up the server?"
Is it possible to define your own commands when starting the Nest server?

Currently, it's just "vite" which looks at your vite.config.json to launch the Nest server:

[code]

But when you need to run Nest by passing some other arguments, for eg; with REPL, you have to run the server like this:
$ npm run start -- --entryFile repl

How can I do this using Vite?

[2022-10-14 21:22] OskarLebuda opened #61 "TypeORM? Is it possible?"
Is it possible to configure TypeORM with `vite-plugin-node`?

[2022-10-20 11:38] FluffyDiscord opened #62 "HMR does not seem to work"
Hi, I have new blank project and changing the main file does not trigger server reload.

vite.config.js
[code]

/src/app.ts
[code]

[2022-10-23 19:35] anburocky3 commented on #62
+1 i too face the same problem.

Even, when i do the manual refresh, it is crashing.

[2022-10-28 13:56] Stephane-Pires commented on #62
+1

_Disclaimer : I'm quite new to `vite` and backend in general_

I have been able setup the build tool. But the HMR is not working.

[code]

[code]

I'm able to :

- Run the vite server
- Host on localhost:3000

But, when i change the source code of `app.ts` and save the changes. The changes are not reflected in the terminal.

I must press F5 to get the changes.

------------

If someone has the

[2022-11-06 06:51] drunkod commented on #30
+

[2022-11-13 05:36] wobsoriano commented on #59
that redirects to vitest @jaybe78

[2022-11-16 14:13] MarvinXu commented on #55
I think it works exactly as it should be. It's HMR for the server! The module of server is updated without server restarting. You can't expect it to make the client to resend the request!

[2022-11-16 14:15] angelhdzmultimedia commented on #55
Oh damn, The Dumb Moment!

So much time working with HMR on client Vue that I got used to it and when trying on server got confused there.

Thank you! :P

[2022-11-16 14:15] #55 closed